﻿a
{
  text-decoration: underline;
}

body
{
  background-color: #dfe8ed;
  background-image: url("../img/body-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: Georgia, "Times New Roman", Times;
}

.clear
{
  font-size: 0.1em;
  clear: both;
}

.exhibition-title
{
  color: #151515;
  background-color: #ffffff;
  opacity: 0.7;
  filter: alpha(Opacity=70);
  margin-top: 30px;
}

.exhibition-title h1,
.exhibition-title h2,
.exhibition-title p
{
  text-align: center;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.index-parts-list
{
  margin-top: 70px;
  text-align: center;
}

.index-parts-list div.img-desc
{
  display: inline-block;
  margin-right: 30px;
}

.img-desc
{   
  position: relative;   
  display: block;   
  height:365px;   
  width: 300px;   
}

.img-desc div
{

  background: #111;   
  filter: alpha(opacity=55);   
  opacity:.55;   
  color: #fff;   
  position: absolute;   
  bottom: 0;   
  left: 0;   
  width: 300px;   
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14pt;
}

.img-desc a
{
  color: #ffffff;
  text-decoration: underline;
}

.part-title
{
  background-image: url("../img/container-bg.png");
  font-size: 24pt;
  padding-top: 20px;
  padding-bottom: 20px;
  /*margin-top: 50px;*/
  position: fixed;
  text-align: center;
  z-index: 30000;
}

.part-title .small
{
  font-size: 10pt;
}

.part-container
{
  background-image: url("../img/container-bg.png");
  margin-top: 70px;
  padding: 30px;
  text-align: justify;
}

.part-container p
{
  font-size: 16pt;
  text-indent: 15pt;
}

.carousel .item > img
{
  margin: 0 auto;
}

.carousel p
{
  text-indent: 0;
  font-size: 12pt;
  font-weight: normal;
  font-family: "Trebuchet MS", Arial, Verdana;
}

.carousel a
{
  color: #ffffff;
}

.link-dashed
{
  text-decoration: none;
  border-bottom: 1px dashed;
}

.link-dashed:hover
{
  text-decoration: none;
}

.portrait
{
  text-align: center;
  margin-bottom: 20px;
}

.warrior-list li
{
  padding-bottom: 5pt;
}

.warrior-list-description
{
  font-size: 12pt !important;
}